# Build
build/
build-win/
build-mac/
cmake-build-*/

# Dist
dist/

# macOS
*.DS_Store
*.icns

# Qt
*.user
moc_*
ui_*
qrc_*

# Compiled
*.o
*.obj
*.exe

# IDE
.vscode/
.idea/
*.swp
build/
build-mac/
build-win/
dist/*.dmg
